:root{
   --c1: rgba(197, 181, 228, 0.671);
   --c2: rgba(197, 181, 228, 0.671);
   --c3: rgba(197, 181, 228, 0.671);
 }

body {
   background-image: linear-gradient(82deg ,var(--c2) , var(--c3), var(--c1));
   font-weight: 200; 
   
}
.banner{
    background: url('../img/fundonovo.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
.perfil{
   border-radius: 7%;
   border: white solid 0.5rem ;
   height: 20rem;
   margin-top: 2vh;
}
 .alert{
   margin-top: 24vh;
 }
 .myName{
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
 }
 .col{
    margin-top: 4%;
    margin-left: 15%;
    font-family: 'Courier New', Courier, monospace;
 }
 .progress{
    background-color: rgba(58, 17, 141, 0.878);
    color: white;
    height: 14%;
 }
@media (max-width: 575.98px) { 
    .banner{
        background-position: right;
        height: 100vh;
    }
    .perfil{
        background-position: right;
        height: 80vh;
     }
 } 
